/IVN.opensdf
/IVN.sdf
/IVN.v12.suo
*.log
/Network/Core/Debug
/Server/Debug
/Server/Release
*.o
*.vcxproj.user
*.suo
ipch/
/Libraries/zlib-1.2.5/projects/Debug
/Build
/Private
/Files
/Libraries/gwen/projects/vs2008/obj/debug
/Libraries/gwen/bin
/Libraries/CEGUI/dependencies/expat-2.0.1/tmp
/Libraries/zlib-1.2.5/projects/Release
/Client/Modules/SkyLift/Release
/Client/Modules/SkyLift/Debug
/Build
