/IVN.opensdf
/IVN.sdf
/IVN.v12.suo
*.log
/Binary/Debug
/Client/Core/Debug
/Client/Launcher/Debug
/Client/LaunchHelper/Debug
/Network/Core/Debug
/Server/Debug
/Binary/Release
/Client/Core/Release
/Client/Launcher/Release
/Client/LaunchHelper/Release
/Network/Core/Release
/Server/Release
/Binary/temp
*.o
*.vcxproj.user
*.suo
ipch/
/Libraries/zlib-1.2.5/projects/Debug
/Build
/Private
/Files
/Libraries/gwen/projects/vs2008/obj/debug
/Libraries/gwen/bin
/Libraries/CEGUI/dependencies/expat-2.0.1/tmp
/Libraries/CEGUI/dependencies/expat-2.0.1/bin
/Libraries/zlib-1.2.5/projects/Release
